<%= form_for @user, html: {role: 'form'} do |f| %>
  <%if @user.errors.any? %>
    <div>
      <h2><%=pluralize(@user.errors.count, "error")%> kept this user from being saved. </h2>
        <ul>
          <%@user.errors.full_messages.each do |error|%>
           <li><%=error%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <p>
      <%=f.label :email %>
      <%=f.text_field :email, class: 'field' %>
    </p>
    <p>
      <%=f.label :username %>
      <%=f.text_field :username, class: 'field' %>
    </p>
    <p>
      <%=f.label :password %>
      <%=f.password_field :password, class: 'field' %>
    </p>
    <p>
      <%=f.submit "Register", class: "button" %>
    </p>
<% end %>

